$foreground-color: #C0C2C3;
$background-color: #293E40;
$highlight-color: #546A8D;
$mediaMaxWidth: 520px;

@mixin section {
  padding-top: 8em;
  padding-left: 2em;
  padding-right: 2em;
}

@mixin border {
  background-color: light-dark($foreground-color, $background-color);
  border: 2px solid $highlight-color;
  border-radius: 8px;
}

@mixin overlay {
  position: fixed;
  z-index: 3;
  overflow-x: hidden;
}

@mixin nav {
  @include border;
  margin: 1em;
  padding: 0.25em;
  text-align: left;
  z-index: 1;
  flex-grow: 2;
  position: fixed;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  color-scheme: light dark;
  color: light-dark($background-color, $foreground-color);
  background-color: light-dark($foreground-color, $background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  max-width: 80%;
  padding-top: 6em;
  padding: 4em;
  text-align: center;
  margin: auto;
  min-width: 320px;
  min-height: 100vh;
}

button {
  color: light-dark($background-color, $foreground-color);
  background-color: light-dark($foreground-color, $background-color);
  text-decoration: inherit;
  border: none;
  font-size: 1em;

  &:hover {
    color: $highlight-color;
  }
}

a {
  font-weight: 500;
  color: light-dark($background-color, $foreground-color);
  text-decoration: inherit;
  padding: 5px;

  &:hover {
    color: $highlight-color;
  }
}

textarea {
  color: light-dark($background-color, $foreground-color);
  background-color: light-dark($foreground-color, $background-color);
  font-size: 1.2em;
  width: 100%;
  resize: none;
  outline: none;
  overflow: hidden;
}

#leftnav {
  @include nav;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  padding: 0.5rem 1rem;
  position: relative;
}

#centernav {
  @include nav;
  top: 0;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-right: auto;
  align-left: auto;
}

#searchdocumentoverlay {
  @include nav;
  top: 0;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-right: auto;
  align-left: auto;
}

#rightnav {
  @include nav;
  top: 0;
  right: 0;
}

#bottomleftnav {
  @include nav;
  left: 0;
  bottom: 0;
}

#bottomrightnav {
  @include nav;
  right: 0;
  bottom: 0;
}

#document_name {
  font-weight: bold;
}

#bottomcenternav {
  @include nav;
  bottom: 0;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-right: auto;
  align-left: auto;
}

#submit_snippet_overlay{
  @include nav;
  right: auto;
  left: auto;
  bottom: 0;
}

#title-input {
  font-size: 1.4em;
}

#document-input {
  width: 10%;
  height: 20%;
  padding: 1em;
}

#document_picker {
  display: none;
  width: 10%;
  height: 20%;
}

#marked_document {
  font-weight: 900;
}

#snippet-context {
  display: none;
}

#submit {
  overflow: hidden;
}

#view {
  text-align: left;
}

.card {
  @include border;
  margin: 2em;
  padding: 2em;
  max-width: 20em;
  min-width: 20%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.overlay-document-picker {
  @include overlay;
  @include border;
  padding: 1em;
  top: 40%;
  text-align: center;
  justify-content: left;
  align-content: center;
  align-items: center;
  display: none;
}

.overlay-snippet-context {
  @include overlay;
  @include border;
  margin: 4em;
  bottom: 0;
  align-content: center;
  padding: 0.5em;
}

.overlay-snippet-input {
  @include overlay;
  @include border;
  margin: 4em;
  top: 20%;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5em;
  display: none;
}

.toastify {
  @include border;
  @include overlay;
  padding: 12px 20px;
  display: inline-block;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
  color: light-dark($background-color, $foreground-color);
  background-color: light-dark($foreground-color, $background-color);
  position: fixed;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  max-width: calc(50% - 20px);
  z-index: 2147483647;
}

.toastify.on {
  opacity: 1;
}

.toast-close {
  background: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2em;
  opacity: 0.4;
  padding: 0 5px;
}

.toastify-right {
  right: 15px;
}

.toastify-left {
  left: 15px;
}

.toastify-top {
  top: -150px;
}

.toastify-bottom {
  bottom: -1.2em;
}

.toastify-rounded {
  border-radius: 25px;
}

.toastify-avatar {
  width: 1.5em;
  height: 1.5em;
  margin: -7px 5px;
  border-radius: 2px;
}

.toastify-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: fit-content;
  max-width: -moz-fit-content;
}

@media (max-width: $mediaMaxWidth) {
  :root {
    font-size: 16px;
  }
  body {
    padding-top: 8em;
    padding: 2em;
    width: 100%;
  }
  #submit {
    padding-top: 4em;
    overflow: none;
  }
  #rightnav {
    bottom: 0;
    top: auto;
  }
  #leftnav {
    bottom: 0;
    top: auto;
  }
  #centernav {
    bottom: 0;
    top: auto;
  }
  #bottomrightnav {
    top: 0;
    bottom: auto;
  }
  #bottomleftnav {
    top: 0;
    bottom: auto;
  }
  #bottomcenternav {
    top: 0;
    bottom: auto;
  }
  #overlay-document-picker {
    top: 20%;
  }
}
